apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: worldstorageclaims.bindery.platform
spec:
  group: bindery.platform
  scope: Namespaced
  names:
    plural: worldstorageclaims
    singular: worldstorageclaim
    kind: WorldStorageClaim
    shortNames:
      - wsc
  versions:
    - name: v1alpha1
      served: true
      storage: true
      subresources:
        status: {}
      schema:
        openAPIV3Schema:
          type: object
          required: [spec]
          properties:
            apiVersion:
              type: string
            kind:
              type: string
            metadata:
              type: object
            spec:
              type: object
              required: [scope, tier, worldRef, size]
              properties:
                scope:
                  type: string
                  enum: [world, world-shard]
                tier:
                  type: string
                  enum: [server-low-latency, server-high-latency, client-low-latency]
                worldRef:
                  type: object
                  required: [name]
                  properties:
                    name:
                      type: string
                      minLength: 1
                shardRef:
                  type: object
                  required: [name]
                  properties:
                    name:
                      type: string
                      minLength: 1
                size:
                  type: string
                  minLength: 2
                accessModes:
                  type: array
                  items:
                    type: string
                storageClassName:
                  type: string
            status:
              type: object
              properties:
                phase:
                  type: string
                message:
                  type: string
                claimName:
                  type: string
                storageClassName:
                  type: string
                externalUri:
                  type: string
