apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: worldshards.bindery.platform
spec:
  group: bindery.platform
  scope: Namespaced
  names:
    plural: worldshards
    singular: worldshard
    kind: WorldShard
    shortNames:
      - shard
  versions:
    - name: v1alpha1
      served: true
      storage: true
      subresources:
        status: {}
      schema:
        openAPIV3Schema:
          type: object
          required: [spec]
          properties:
            apiVersion:
              type: string
            kind:
              type: string
            metadata:
              type: object
            spec:
              type: object
              required: [worldRef, shardId]
              properties:
                worldRef:
                  type: object
                  required: [name]
                  properties:
                    name:
                      type: string
                      minLength: 1
                shardId:
                  type: integer
                  minimum: 0
            status:
              type: object
              properties:
                phase:
                  type: string
                message:
                  type: string
